@charset "utf-8";

/* 웹폰트 */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap");

/* root변수 설정 */
:root{
  --m_bg_color:#fff;
  --m_font:'Noto Sans KR';
  --f_size_base:16px;
  --f_size1:14px;
  --f_size2:20px;
  --f_size3:24px;
  --f_color1:#333;
  --s_color01:#215499;
  --s_color02:#042653;
  --s_color03:#2986A7;
  --s_color04:#ccc;
}

/* body서식 */
body{
  overflow-x: hidden;
  background:var(--m_bg_color);
  font-family: var(--m_font), '맑은 고딕', sans-serif;
  font-size:var(--f_size_base);
  color:var(--f_color1);
  min-width: 1200px; /* 최소너비 수정 */
}

/* 링크서식 */
a{
  color:var(--f_color1);
  font-size:var(--f_size_base);
  text-decoration:none;
}