@charset "utf-8";

/* -------------메인 공통서식------------- 
/* 각 섹션별 여백설정 */
#top3, #intro, #drive, #event, #buy, #cs{
  margin: 0 auto;
  padding-top: 150px;
}

/* section 타이틀 서식 */
.sec_title{
  font-size: 60px;
  font-weight: bold;
  padding-bottom: 20px;
  text-align: center;
}

/* 버튼 서식 */
.btn{
  border: 2px solid #333;
  background: white;
  padding: 10px 30px;
}

.sec_title2{
  font-size:30px;
  font-weight:bold;
}
.p01{
  line-height:50px;
}



/* -------------메인콘텐츠 영역------------- */
/* 1. 메인동영상 */
#main{
  width: 100%;height: 100vh;
  overflow: hidden;
  position: relative;
}
#main article{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: var(--m_bg_color);
  font-size: var(--f_size2);
}
#main article p{
  line-height: 80px;
}
#main article a{
  color: var(--m_bg_color);
  font-size: var(--f_size1);
  text-decoration: underline;
  padding: 5px 10px;
}
#main article a:first-of-type{
  background: var(--s_color01);
}
#main video{
  width: 100%;height: 100%;
  object-fit: cover;
}

.next_page{
  width: 30px;height: 30px;
  border-left: 1px solid var(--m_bg_color);
  border-bottom: 1px solid var(--m_bg_color);
  position: absolute;
  bottom: 60px;left: 50%;
  transform: rotate(-45deg) translateX(-50%);
}

.modal{
  position: fixed;
  top: 0;
  width: 100%;height: 100%;
  background: rgba(0,0,0,0.7);
  z-index: 1000;
}
.modal_box{
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}
.modal_box img{
  width: 100%;
  display: block;
}
.modal_box > div:nth-of-type(1){
  display: flex;
  justify-content: space-between;
  background: var(--m_bg_color);
  font-size: var(--f_size1);
  padding: 10px 10px;
}
#modal_check{cursor: pointer;}
.modal_box label{
  line-height: 30px;
  cursor: pointer;
}
.modal_close{
  border: 1px solid #333;
  width: 50px;height: 30px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}

/* 2. top3 콘텐츠 서식 */
#top3{
  text-align:center;
  /* background: pink; */
  overflow: hidden;
  width: 1200px;
}

.top3{
  position:relative;
  margin-top:50px;
}
.top3 .swiper-wrapper{
  width:100%;height:100%;
}
.rank{
  color:var(--s_color01);
  border:1px solid var(--s_color01);
  padding:6px 30px;
  border-radius:20px;
  font-size:var(--f-size1);/* 14px */
}
.top3_title{
  font-size:var(--f_size3);
  font-weight: 500;
  padding-top:30px;
  color:var(--s_color01);
}
.top3 img{
  padding:80px 0px;
  width:400px;
}
.detail{
  display:flex;
  justify-content: center;
  padding-bottom:60px;
}
.detail li{
  width:190px;
  border-right:1px solid #ccc;
  padding:0px 20px;
  font-size:var(--f_size2);
  line-height:20px;
  text-align:left;
}
.detail li:last-child{
  border:none;padding-top:6px;
}
.price{
  font-size:32px;font-weight: 500;
  color:#043e96;
}
/* 색상박스 */
.outer_color, .inner_color{
  width: 56px;height: 40px;
  text-indent: -9999px;
  float: left;
  margin-right: 10px;
}
.kaki{background: #494b3e;}
.black{background: #000;}
.b_btn{margin-bottom: 50px;}

.top3 .swiper-button-prev, .top3 .swiper-button-next{
  color: #333;
  font-weight: bold;
  opacity: 0.6;
}

.top3 .swiper-pagination-bullet{
  background: #333;
  width: 70px;height: 7px;
}

/* 3. 소개 intro */
#intro{
  height:860px;
  overflow:hidden;
  position:relative;
}
#intro .sec_title2{
  position:absolute;
  z-index:100;
  text-align:center;
  width:100%;
  padding-top: 100px;
}
.intro_title_left, .intro_title_right{
  position:absolute;
  z-index:100;
  font-size:30px;
  font-weight: 500;
}
.intro_title_left{
  animation: ani1 5s forwards;
}
.intro_title_right{
  animation: ani2 5s forwards;
}
@keyframes ani1{
  0%{opacity: 0;}
  70%{opacity: 0;}
  100%{opacity: 1;}
}
@keyframes ani2{
  0%{opacity: 0;}
  90%{opacity: 0;}
  100%{opacity: 1;}
}

.intro_title_left{top:200px;left:30px;}
.intro_title_right{bottom:200px;right:50px;}

#intro video{
  width: 100%;height: 100%;
  object-fit: cover;
}

/* 더보기 버튼 */
#intro .btn{
  position: absolute;
  bottom: 60px;left: 50%;
  transform: translateX(-50%);

}


/* 4. 시승신청 서식 */
#drive{text-align: center;height: 100%;}
#drive article{
  width: 430px;
  padding: 15px;
  margin-top: 50px;
  border: 1px solid var(--s_color04);
  display: inline-block;
  vertical-align: top;
  height: 280px;
}
#drive article h3{
  font-size: 24px;
  padding-top: 20px;
  font-weight: bold;
  line-height: 40px;
}
#drive article p{
  font-size: var(--f_size1);
  line-height: 20px;
  padding: 20px 0;
  font-weight: bold;
  margin-bottom: 30px;
}
#drive .test_d_p{
  color: rgba(0,0,0,0.5);
  font-weight: 500;
  transform: translateY(62px);
}
#drive_r .test_d_p{transform: translateY(72px);}
#drive_l{
  margin-right: 30px;
}
.test_d_btn1{
  background: var(--s_color01);
  color: var(--m_bg_color);
  padding: 10px 60px;
}
.test_d_btn2{
  display: block;
  position: relative; top: 30px;
}
#drive_l .test_d_btn2{
  color: var(--s_color01);
}

/* 5. 이벤트 프로모션 */
#event{
  text-align: center;
  height: 500px;
  margin-top: 200px;
  background: #eee;
  padding-bottom: 100px;
}
#event .event{
  width: 1200px;
  margin: 50px auto 0 auto;
  overflow: hidden;
  height: 350px;
  position: relative;
}
.event .swiper-slide img{
  height: 300px;
}

.event .swiper-button-prev, .event .swiper-button-next{
  top: 50%; transform: translateY(-50%);
  color: #333;
  background: rgba(255,255,255,0.7);
  width: 30px;height: 30px;
}
.swiper-button-prev:after, .swiper-button-next:after{
  font-size: 1rem !important;
}
.event .swiper-pagination-bullet{
  background: #333;
  width: 20px;height: 7px;
}
.event .swiper-pagination-bullet-active{
  width: 40px;
  transition: 0.5s;
}


/* 6. 캐스퍼 구매안내 */
#buy{
  text-align: center;
  width: 1200px;
  height: 100%;
}
#buy h3{
  font-size: 1.5rem; font-weight: bold;
  margin-top: 50px;
}
.t_color{
  color: var(--s_color03);
}
.icon_box{
  display: grid;
  grid-template-columns: 400px 400px 400px;
  margin: 100px auto 0 auto;
  gap: 100px 0;
}
.icon_box img{width: 100px;}
.icon_box p{width: 100%;height: 40px;}
.icon_box li p:nth-of-type(1){
  font-size: 1.1rem;
  font-weight: bold;
}
.icon_box li p:nth-of-type(2){
  margin-top: 20px;
  font-size: 14px;
  line-height: 160%;
  font-weight: bold;
}
#buy iframe{
  margin-top: 100px;
  width: 100%;
  height: 600px;
}

/* 7. 고객지원 */

/* float 속성 해제 */
.clearfix:after{
  clear: both;
  content: "";
  display: block;
}

#cs{
  margin-top: 150px;
  background: #eee;
}
#cs > h2{
  text-align: center;
  margin-bottom: 50px;
}
#cs article, #cs > ul, #cs > .random_banner{
  width: 1200px;
  margin: 15px auto;
  background:var(--m_bg_color);
}
#cs > ul{display: flex; background: none;}
#cs > ul > li{
  margin-right:15px;
  background:var(--m_bg_color);
}
.clearfix{
  padding-bottom: 50px;
}
#cs > article > h3{
  font-size: 18px;
  text-align: center;
  padding: 60px 0 30px 0;
  font-weight: bold;
}
.ars_left, .ars_right{
  width: 50%;
  padding: 20px 30px;
  box-sizing: border-box;
  float: left;
}
.ars_left, .ars_right{
  display: flex;
  justify-content: space-around;
}
.ars_left > p,.ars_right > p{
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 30px;
}
.ars_left > p > a, .ars_right > p > a{
  color: var(--s_color03);
  font-weight: 500;
  font-size: var(--f_size1);
}
#cs strong{
  font-weight: bold;
  font-size: var(--f_size2);
}
.car_icon, .member_icon{
  background: url('../images/bg-support-ars.png');
  display: inline-block;
  text-indent: -9999px;
  height: 46px;
}
.car_icon{
  display: inline-block;
  width: 75px;
  margin-top: 60px;
}
#cs dl{line-height: 24px;}
#cs dt{font-weight: bold;}
#cs dd{color: var(--f_color1);}

.member_icon{
  background-position: -90px 0px;
  width: 60px;
  margin-top: 30px;
}
.ars_right{border-left: 1px solid #ccc;}

/* 하단 4개 박스 */
.cs_etc > li{
  padding: 30px;
  width: 100%; height: 250px;
  position: relative;
}
.cs_etc > li:nth-of-type(4){
  margin-right: 0;
}
.cs_etc > li h3{
  font-weight: bold;
  font-size: var(--f_size2);
}
.cs_etc > li p:first-of-type{
  font-weight: bold;
  padding-top: 20px;
  line-height: 160%;
  margin-bottom: 5px;
  
}
.cs_etc > li a{
  color: var(--s_color03);
  font-weight: 500;
  font-size: var(--f_size1);
}
.cs_etc > li:nth-of-type(-n+3) a:last-of-type{
  display: block;
  background: var(--s_color02);
  color: white;
  width: 150px; height: 30px;
  line-height: 30px;
  text-align: center;
  position: absolute;
  bottom: 30px; left: 50%;
  transform: translateX(-50%);
  font-weight: normal;
}




