
//전역변수 생성
$myFont:'맑은 고딕', arial, sans-serif;
$baseFontColor:#333;
$bigFontSize:30px;
$baseFontSize:12px;
$boxWidth:1280px;
$boxCenter:0px auto;
$bgColor:#ffff00;

body{
  //지역변수
  $p01:#f00;
  font-family:$myFont;
  font-size:$baseFontSize;
  color:$baseFontColor;
}
h1{font-size:$bigFontSize;}
#wrap{
  $bgColor01:#0f0;
  width:$boxWidth;
  height:300px;
  background:$bgColor;
  border:1px solid $bgColor01;
  margin:$boxCenter;
}
