@charset "utf-8";

:root{
  /* 폰트 사이즈 */
  --fs-xsmall: 0.75rem; /* 12px */
  --fs-small: 0.875rem; /* 14px */
  --fs-medium: 1rem;    /* 16px */
  --fs-medium-large: 1.125rem;  /* 18px */
  --fs-large: 1.25rem;  /* 20px */
  --fs-xlarge: 1.5rem;  /* 24px */

  /* 폰트 두께 */
  --fw-thin: 100;
  --fw-light: 300;
  --fw-normal: 500;
  --fw-bold: 700;

  /* 색상 */
  --red: #EF2F15;
  --yellow: #FFCC18;
  --green: #26A450;
  --darkbrown: #281A12;
  --gray: #D9D9D9;
  --light-gray: #EFEFEF;
  --white: #ffffff;
  --black: #000000;

  /* 패딩값 */
  --p_20: 20px;
  
  /* 마진값 */
  --m_50: 50px;
}
