@charset "utf-8";

@import "common";

/* -------공통 서식 -------*/
img{
  width: 100%;
  object-fit: cover;
}
section{
  margin-top: 60px;
}
.swiper-button-next, .swiper-button-prev {
  display: none;
}

/* 타이틀 서식 */
.title{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 $p_20;
}
.title h2{
  font-size: $fs-large;
  font-weight: $fw-bold;
}
.title a{
  font-size: $fs-small;
  color: $red;
}

/* 컨텐츠 텍스트 서식 */
.con-title{
  font-size: $fs-medium;
  font-weight: $fw-bold;
  line-height: 140%;
  margin-top: 8px;
  @include text-over(2); /* 2줄 말줄임 */
}
.con-sub{
  font-size: $fs-xsmall;
  margin-top: 8px;
  @include text-over(1); /* 1줄 말줄임 */
}

/* -----------1. 메인배너----------- */
#sec01{
  position: relative;
  height:400px;
}
/* 1200px 이상일때 배너크기 */
@media (min-width: 1200px) {
  #sec01{
    height: 600px;
  }
}
#sec01 > div{
  width: 100%;
  height: 100%;
}
#sec01 > .swiper-wrapper{
  height: unset !important;
}
#sec01 .swiper-slide > div{
  position: absolute;
  bottom: 0;
  color: $white;
  padding: 40px 20px;
  width: 100%;
}
#sec01 .swiper-slide > div > span{
  display: inline-block;
  background: $red;
  padding: 6px 10px;
  border-radius: 40px;
}
#sec01 .swiper-slide > div > p:first-of-type{
  font-size: $fs-xlarge;
  font-weight: $fw-bold;
  line-height: 140%;
  margin-top: 10px;
}
#sec01 .swiper-slide > div > p:last-of-type{
  font-size: $fs-small;
  font-weight: $fw-light;
  line-height: 120%;
  margin-top: 10px;
}
/* 페이지네이션 버튼 그룹 */
#sec01 .slide-btn{
  position: absolute;
  width: 100%;
  height: 40px;
  line-height: 40px;
  bottom: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 2px;
  font-size: $fs-medium-large;
  padding: 0 $p_20 0 0;
}
/* 375px 이하일때 버튼크기와 위치 */
@media (max-width: 375px) {
  #sec01 .slide-btn{
    transform: scale(0.8);
    transform-origin: right;
    bottom: 10px;
    z-index: 100;
  }
}

#sec01 .swiper-button-play-pause {
  display: block;
  width: 40px; height: inherit;
  background-color: rgba(28, 29, 31, 0.4);
  text-align: center;
  color: $white;
  z-index: 10;
  cursor: pointer;
  margin-left: 5px;
  font-size: $fs-large;
  border: 1px solid rgba(255,255,255,0.5);
  border-radius: 50%;
}
#sec01 .swiper-button-play-pause:before{
  line-height: 40px;
}
#sec01 .swiper-pagination-fraction{
  position: initial;
  width: 80px;
  background-color: rgba(28, 29, 31, 0.4);
  color: $white;
  border: 1px solid rgba(255,255,255,0.5);
  border-radius: 20px;
}
#sec01 .swiper-pagination-fraction span{
  font-weight: $fw-thin;
}

/* ----------2. 카테고리------------ */
#sec02 > div{
  display: flex;
  justify-content: space-evenly;
  padding: 0 $p_20;
}
#sec02 > div > div{
  width: 80px;
}
#sec02 > div > div > a{
  display: block;
  height: 100%;
}
#sec02 > div > div > a > img{
  width: 80px; height: 80px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}
#sec02 > div > div > a > p{
  text-align: center;
  margin-top: 10px;
}

/* -------3. 실시간 인기 강의------ */
#sec03 .mySwiper2{
  padding: 0 0 0 $p_20;
}
#sec03 .swiper-wrapper{
  height: auto;
}
#sec03 .swiper-slide{
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
#sec03 .con-text{
  position: absolute;
  bottom: 0;
  width: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  padding: 30px 20px 20px 20px;
  color: $white;
}
#sec03 .con-title{
  font-size: $fs-large;
  font-weight: $fw-normal;
}
/* 순위 플래그 */
.flag{
  position: absolute;
  top:0px; left: 25px;
}
.flag span{
  position: absolute;
  top: 4px; left: 8px;
  font-size: $fs-medium-large;
  font-weight: $fw-bold;
}
.flag path{
  fill: $yellow;
}

/* -------4. 마감임박 수강 ------ */
#sec04 .mySwiper3{
  padding: 0 0 0 $p_20;
}
#sec04 .swiper-wrapper{
  height: auto;
}
#sec04 .mySwiper3 .swiper-slide > img{height: 150px;}

/* ---------5. 광고배너-------- */
#sec05 .mySwiper4{
  height: 150px;
}
#sec05 .swiper-pagination-fraction{
  width: 60px;
  padding: 5px 0;
  border-radius: 20px;
  left: inherit;
  right: 20px;
  color: $white;
  font-size: $fs-small;
  font-weight: $fw-thin;
  background: rgba(28, 29, 31, 0.4);
}

/* --------6. 수강생 후기-------- */
#sec06 .mySwiper5{
  padding: 10px 0 10px $p_20;
}
#sec06 .swiper-wrapper{
  height: auto;
}
#sec06 .swiper-slide{
  padding: 20px;
  border-radius: 10px;
  background: $white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
#sec06 .profile{
  display: flex;
  align-items: flex-start;
  background: $white;
  align-items: center;
}
#sec06 .profile > img{
  width: 50px; height: 50px;
  border-radius: 50%;
}
#sec06 .profile > div{
  margin-left: 10px;
}
#sec06 .profile > div > p{
  padding-top: 5px;
}
#sec06 .con-text{
  margin-top: 16px;
  background: $white;
}
#sec06 .con-text p:first-of-type{
  color: $red;
  font-size: $fs-small;
  font-weight: $fw-bold;
}
#sec06 .con-title{
  font-size: $fs-medium-large;
  @include text-over(1); /* 1줄 말줄임 */
  margin-top: 4px;
}
#sec06 .con-sub{
  line-height: 140%;
  @include text-over(3); /* 3줄 말줄임 */
  margin-top: 10px;
}

/* ------7, 8, 9. 인기수강 -----*/
.mySwiper3{
  padding: 0 0 0 $p_20;
}
.mySwiper3 .swiper-wrapper{
  height: auto;
}
.mySwiper3 .swiper-slide > img{
  height: 150px;
  border-radius: 10px;
}

/* --------10. 모바일앱 띠배너------- */
#sec10{
  height: 65px;
}

/* --------11. 국비과정 베스트-------- */
#sec11 .row{
  margin-right: 0;
  margin-left: 0;
  gap: 20px;
  padding: 0 $p_20;
}
#sec11 .row>*{
  padding-left: 0;
  padding-right: 0;
}
#sec11 .col-xl{
  position: relative;
  width: 100%;
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
  background-image: url("../images/main/index_sec11_1.png");
  background-size: cover;
  background-position: center;
}
#sec11 .col-xl > div{
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
}
#sec11 .col-xl > div::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(39, 25, 17, 0.8);
  mix-blend-mode: multiply;
  z-index: -1;
}

#sec11 .col-xl > div >*{
  color: $white;
  font-size: $fs-small;
  font-weight: $fw-light;
  line-height: 140%;
}
#sec11 .col-xl > div > p:first-of-type{
  font-size: $fs-medium-large;
  font-weight: $fw-normal;
  
}
#sec11 .col-xl > div > p:last-of-type{
  @include text-over(3); /* 3줄 말줄임 */
}
#sec11 .col-xl > div > a{
  padding: 5px 0;
  font-size: $fs-medium;
  color: $yellow;
}

/* ----------12. 커뮤니티---------- */
#sec12{
  padding-bottom: 100px;
}
#sec12 .tab{
  padding: 0 $p_20;
}
#sec12 .tab > ul{
  gap: 0;
}
#sec12 .tab button{
  color: #666;
  border: none;
  border-bottom: 2px solid #ccc;
  background: $white;
}
#sec12 .tab button.active{
  color: $black;
  border-bottom: 2px solid $black;
}


/* 1400px 이상일때 요소배치 */
@media (min-width: 1400px) {
  #sec02, #sec03, #sec04, #sec06, #sec07, #sec08, #sec09, #sec11, #sec12{
    width: 1400px;
    margin: $m_50 auto 0 auto;
  }
  #sec01 .swiper-slide > div{
    width: 1400px;
    left: 50%;
    transform: translateX(-50%);
  }
  #sec01 .slide-btn{
    width: 1400px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
  }
  .swiper-button-next, .swiper-button-prev {
    display: block;
    color: $black;
  }
  .swiper-button-prev::after{
    display: block;
  }
}
